<div id="content">

  <!-- Top Bar -->
  <div class="container-fluid top-bar">
    <div class="row" class="d-flex justify-content-between">
      <div class="col-sm-4 top_bar_heading" >
        Campaigns: {{campaignArray.length}}
      </div>
      <div class="col-sm-4 add_campaign top_bar_add_button">
        <button class="btn btn-lg add_campaign" (click)="createCampaign(campaignModal)">Add campaign</button>
      </div>
      <div class="col-sm-4">
        <form class="form-inline">
          <input class="form-control" name="searchInput" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText">
        </form>
      </div>
    </div>
  </div>

  <div class="alert alert-info" *ngIf="showSuccessMessage">
    Submit Successfully.
  </div>
  <div class="alert alert-danger" *ngIf="showDeletedMessage">
    Deleted successfully.
  </div>
  <div class="alert alert-warning" *ngIf="alreadyExist">
    Campaign already exists.
  </div>

  <!-- Default Campaign -->
  <div *ngIf="showSpinner" style="position:fixed;top:50%;left:50%">
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  </div>
  <div class="container default_campaigns" *ngIf="!showSpinner">
    <table class="table table-sm list_heading">
      <ng-container *ngFor="let campaign of defaultCampaignArray">
        <tr class="list_elements" >
          <td colspan="6">{{campaign.campaignInfo.name}}</td>
          <!-- <td colspan="3"></td> -->
          <td colspan="3">{{campaign.activeStatus ? 'Active' : 'Inactive'}}</td>
          <td colspan="3">
            <mat-slide-toggle (change)=toggleDefaultCampaign(campaign) [checked]=campaign.activeStatus class="custom_font"></mat-slide-toggle>
            <button class="btn no_background_button" style="margin-left: 15px;" (click)="editDefaultCampaign(campaign)">Edit</button>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>

  <!-- Table code -->
  <div class="container" *ngIf="!showSpinner">
    <table class="table table-sm list_heading list_propertise">
      <thead>
        <th colspan="3">Name</th>
        <th colspan="3">Date</th>
        <th colspan="3">Status</th>
        <th colspan="3"></th>
      </thead>
      <ng-container *ngFor="let campaign of campaignArray">
        <tr class="list_elements" *ngIf="filterCondition(campaign)" >
          <td colspan="3">{{campaign.campaignInfo.name}}</td>
          <td colspan="3">{{campaign.campaignInfo.publishDate | date:'d MMM y'}}</td>
          <td colspan="3">{{campaign.campaignInfo.publishDate < currentDate ? 'Sent' : 'Scheduled'}}</td>
          <td colspan="3" *ngIf="!(campaign.campaignInfo.publishDate < currentDate)">
            <button class="btn no_background_button" (click)="onDelete(campaign.id)">Delete</button>
            
            <button class="btn no_background_button" style="margin-left: 15px;" (click)="editCampaign(campaign,campaignModal)">Edit</button>
          </td>
          <td colspan="3" *ngIf="campaign.campaignInfo.publishDate < currentDate">
            318 Redeemed
          </td>
        </tr>
      </ng-container>
    </table>
    
  </div>

  
  <router-outlet></router-outlet>
        
</div>
