<div class="wrapper">
  <div class="row no-gutters">
    <div class="col-6 d-none d-md-block my-auto">
      <img src="./assets/auth-logo.png" class="left-pannel-img"/>
    </div>
    <div class="col-12 col-md-6 my-auto form-adjustment">
      <div class="reset-container">
        <div class="form-box">
          <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
              <label for="email" class="form-heading">Email:</label>
              <input type="email" class="form-control" formControlName="email" required>
            </div>
            <div *ngIf="formErrors.email">
              {{ formErrors.email }}
            </div>
            <button type="submit" class="btn btn-default btn-login" [disabled]="!resetForm.valid">Reset password</button>
            <!-- <span *ngIf="resetForm.valid" >Form is valid</span> -->
            <p class="create-account" >Need account?<a class="form-actions" routerLink="/signup"> Create account.</a></p>
            <p class="account-exist" >Remember your password?<a class="form-actions" routerLink="/login"> Log in.</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>