<div class="wrapper">
  <div class="row no-gutters">
    <div class="col-6 d-none d-md-block my-auto">
      <img src="./assets/auth-logo.png" class="left-pannel-img"/>
    </div>
    <div class="col-12 col-md-6 my-auto form-adjustment">
      <div class="form-box">
        <div class="form-group">
          <label for="email" class="form-heading">Email:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd" class="form-heading">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-default btn-login">Log In</button>
        <p style="text-align: center; padding-top: 10px;">Need Account?<a class="form-actions"> Create Account.</a></p>
        <p style="text-align: center;">Forgot password?<a class="form-actions"> Reset Password.</a></p>
      </div>
    </div>
  </div>
</div>