<nav id="sidebar">
  <div class="sidebar-header">
      <img src="./assets/logo.png" />
  </div>

  <ul class="list-unstyled components">
    <li class="active">
        <a routerLink="">Home</a>
    </li>
    <li>
        <a routerLink="customers">Customers</a>
    </li>
    <li>
        <a routerLink="campaigns">Campaigns</a>
    </li>
    <li>
        <a routerLink="#">Vouchers</a>
    </li>

    <div class="bottom-nav">
      <li>
          <a href="#">My Account</a>
      </li>
      <li>
          <a href="#">Help</a>
      </li>
      <li>
          <a href="#">Log Out</a>
      </li>
    </div>
  </ul>
</nav>