<nav id="sidebar">
  <div class="sidebar-header">
      <img src="./assets/logo.png" />
  </div>

  <ul class="list-unstyled components">
    <li class="active">
        <a (click)=changeActive(home) #home routerLink="">Home</a>
    </li>
    <li>
        <a (click)=changeActive(customers) #customers routerLink="customers">Customers</a>
    </li>
    <li>
        <a (click)=changeActive(campaigns) #campaigns routerLink="campaigns">Campaigns</a>
    </li>
    <li>
        <a (click)=changeActive(vouchers) #vouchers routerLink="voucher">Vouchers</a>
    </li>

    <div class="bottom-nav">
      <li>
          <a (click)=changeActive(myaccount) #myaccount routerLink="user">My Account</a>
      </li>
      <li>
          <a href="">Help</a>
      </li>
      <li>
          <a (click)="authService.logout()">Log Out</a>
      </li>
    </div>
  </ul>
</nav>