<div id="content">

  <!-- Top Bar -->
  <div class="container-fluid top-bar">
    <div class="row" class="d-flex justify-content-between">
      <div class="col-sm-6 top_bar_my_account_heading " >
        My Account
      </div>
      <div class="col-sm-6 top_bar_add_button">
        <button class="btn btn-lg user_save_btn" (click)="onSubmit()">Save</button>
      </div>
    </div>
  </div>

  <div class="alert alert-info" *ngIf="showSuccessMessage">
    Submit Successfully
  </div>

  <div *ngIf="showSpinner" style="position:fixed;top:50%;left:50%">
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  </div>
  <!-- Table code -->
  <form *ngIf="!showSpinner" [formGroup]="this.userService.form" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id">
    <div class="container account_details">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label>Name:</label>
          <input formControlName="name" class="form-control column" >
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label>Company Name:</label>
          <input formControlName="companyName" class="form-control column" >
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label>Email:</label>
          <input formControlName="email" type="email" class="form-control column" disabled>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label>Contact Number:</label>
          <input formControlName="contactNumber" type="tel" class="form-control column" >
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label>Plan:</label>
          <input class="form-control column" disabled>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          
        </div>
      </div>
    </div>
  </form>

  <router-outlet></router-outlet>
        
</div>
