<!-- Page Content  -->
<div id="content">

  <div class="container-fluid top-bar">
    <div class="row">
      <div class="col" style="text-align: center;">
        Your Metrics:
      </div>
      <div class="col">
        <div>
          <img style="margin-right: 5px;" src="./assets/customermetric.svg" alt="LOGO">{{customerArray.length}}
        </div>
      </div>
      <div class="col">
        <img src="./assets/vouchermetric.svg" alt="LOGO">12345
      </div>
      <div class="col">
        <img src="./assets/salesmetric.svg" alt="LOGO">RM12,345
      </div>
    </div>
  </div>

  
  <div class="container quick-start">
    Quick Start:
    <div class="columns">
      <a routerLink="customers" class="column quick-start-button quick-start-img">
        <div>
          <img src="./assets/customer.svg" alt="LOGO"><br/>
          <p class="quick-start-heading">Add Customer</p>
          <p class="quick-start-text">Add to your contact book</p>
        </div>
      </a>
      <a routerLink="voucher" class="column quick-start-button quick-start-img">
        <div>
          <img src="./assets/voucher.svg" alt="LOGO"><br/>
          <p class="quick-start-heading">Process Voucher</p>
          <p class="quick-start-text">Process a customer voucher</p>
        </div>
      </a>
      <a routerLink="campaigns" class="column quick-start-button quick-start-img">
        <div>
          <img src="./assets/campaign.svg" alt="LOGO"><br/>
          <p class="quick-start-heading">Create Campaign</p>
          <p class="quick-start-text">Schedule a campaign</p>
        </div>
      </a>
    </div>
  </div>

</div>
