/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.top-bar {
    padding: 30px 30px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar .container {
    margin-bottom: 50px;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    /*text-align: center;*/
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    /*min-width: 250px;*/
    max-width: 250px;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-weight: normal;
    color: #6e6e6e;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;


}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    /*padding: 20px;*/
    /*background: #6d7fcc;*/
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin-left: 20px;
}

#sidebar ul li a:hover {
    color: #2edeff;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #2edeff;
    /*background: #6d7fcc;*/
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    font-weight: 700;
    color: #6e6e6e;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
}

.customers-list {
    font-weight: 300;
    color: #6e6e6e;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

/*----------------Quick Start*/

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 2px;
    padding: 10px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    
}


.quick-start {
    margin-left: 100px;
}

.quick-start-button {
    background: #fff !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    /*width: 262px;
    height: 269px;*/
    margin: 10px;
}

.quick-start-img {
    display: block;
    text-align: center;
    padding: 50px;
}

.quick-start-heading {
    margin: 0px;
    font-weight: 700;
    color: #6e6e6e;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    white-space: nowrap;
}

.quick-start-text {
    white-space: nowrap;
    margin: 0px;
    font-size: 12px;
    font-weight: 300;
}

.metrics {
    white-space: nowrap;
}

/*------------Customer list table*/

#customer_table {
    border-bottom: 0px !important;
}

#customer_table tr {
    background: #fafafa !important;

}

.add_customer {
    color: #2EDEFF;
}

/*----------Campaings-----------*/
.default_campaigns {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 1400px) {
    .container #customer_table {
        padding-left: 25px;
        padding-right: 25px;
    }
}

body {
    background: #fafafa;
}

.form-div {
    width: 50%;
}

.form-adjustment {
    padding-right: 35px !important;
    padding-left: 35px !important;
}

/*.logo-image {
    background-image: url('./Assets/auth-logo.png');
     width: 50%;
   position: absolute;
   left: 0px;
   height: 100%;
   background-size: cover;
}*/
.left-pannel-img{
  width: inherit;
  height: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}
.form-container {
   width: 50%;
   float: right;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 100px;
}

.form-box {
    background: #fff !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.3s;
    font-weight: 300;
    color: #6e6e6e;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px

}

.form-heading {
    font-weight: 700;
    color: #6e6e6e;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.form-control {
    border: 0;
    background: #F7F7F7;
    border-radius: 10px;
    height: 50px;

}

.form-actions {
    color: #2EDEFF !important;
}

.cancel_form_btn {
    color: #2EDEFF !important;
    font-weight: 700;
    font-size: 18px;
}

.custom_btn {
    background: #2EDEFF;
    width: 100%;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
.wrapper {
    /*display: flex;
    width: 100%;
    align-items: stretch;*/
}

@media (min-width: 1400px) {
    .form-adjustment {
        padding-right: 50px !important;
        padding-left: 50px !important;
    }
    .form-box {
        padding-top: 25px;
        padding-bottom: 25px;

    }
}