<!-- Page Content  -->
<div id="content">

  <div class="container-fluid top-bar">
    <div class="row" class="d-flex justify-content-between">
      <div class="col-sm-3 top_bar_heading" >
        Your Metrics:
      </div>
      <div class="col-sm-3">
        <div>
          <img style="margin-right: 5px;" src="./assets/customermetric.svg" alt="LOGO">
          <div class="metrics_propertise">
            <label>{{customerListCollectionArray[0] ? customerListCollectionArray[0].customers.length : 0}}</label><br/>
            <label class="metrics_label">Loyal customers</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img src="./assets/vouchermetric.svg" alt="LOGO">
        <div class="metrics_propertise">
          <label>12345</label><br/>
          <label class="metrics_label">Vouchers issued</label>
        </div>
      </div>
      <div class="col-sm-3">
        <img src="./assets/salesmetric.svg" alt="LOGO">
        <div class="metrics_propertise">
          <label>RM12,345</label><br/>
          <label class="metrics_label">Sales generated</label>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-info" *ngIf="showSuccessMessage">
    Submit Successfully
  </div>
  <div class="alert alert-warning" *ngIf="alreadyExist">
    Already exists
  </div>
  <div class="container quick-start">
    Quick Start:
    <div class="quick-start-columns">
      <a (click)=openCustomerForm() class="quick-start-column quick-start-button quick-start-img">
        <div>
          <img src="./assets/customer.svg" alt="LOGO"><br/>
          <p class="quick-start-heading">Add Customer</p>
          <p class="quick-start-text">Add to your contact book</p>
        </div>
      </a>
      <a routerLink="voucher" class="quick-start-column quick-start-button quick-start-img">
        <div>
          <img src="./assets/voucher.svg" alt="LOGO"><br/>
          <p class="quick-start-heading">Process Voucher</p>
          <p class="quick-start-text">Process a customer voucher</p>
        </div>
      </a>
      <a (click)=openCampaignForm() class="quick-start-column quick-start-button quick-start-img">
        <div>
          <img src="./assets/campaign.svg" alt="LOGO"><br/>
          <p class="quick-start-heading">Create Campaign</p>
          <p class="quick-start-text">Schedule a campaign</p>
        </div>
      </a>
    </div>
  </div>

</div>
