@import "https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700";

.list_elements {
	font-size: 18px;
	font-weight: 200;

}

.list_elements td {
	border-top: 0px;
}

.list_heading {
	font-weight: 300;
	font-size: 18px;
	border-top: 0px;
}

/*
    DEMO STYLE
*/


.add_customer {
    color: #2EDEFF;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    box-shadow: none;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
}




body {
    background: #fafafa;
}

.form-container {
   width: 50%;
   float: right;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 100px;
}

.form-box {
    background: #fff !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.3s;
    font-weight: 300;
    color: #6e6e6e;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px

}

.form-heading {
    font-weight: 700;
    color: #6e6e6e;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.form-control {
    border: 0;
    background: #F7F7F7;
    border-radius: 10px;
    height: 50px;

}

.form-actions {
    color: #2EDEFF !important;
}

.cancel_form_btn {
    color: #2EDEFF !important;
    font-weight: 700;
    font-size: 18px;
}

.custom_btn {
    border-radius: 10px;
    background: #2EDEFF;
    width: 100%;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.modal-content {
    border: 0 !important;
    border-radius: 10px !important;
    font-weight: 700;
    color: #6e6e6e;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.customer_modal {
    font-weight: 700;
    color: #6e6e6e;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    font-weight: 300;
    color: #6e6e6e;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 1400px) {
    .container #customer_table {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 1400px) {
    .form-adjustment {
        padding-right: 50px !important;
        padding-left: 50px !important;
    }
    .form-box {
        padding-top: 25px;
        padding-bottom: 25px;

    }
}